h1 Sign Up
p Demonstrates how to sign up through an authorization provider

= link_to 'Go to uthorization provider', @authorization_server[:url] + '/signup/new?redirect_to=' + 'http://localhost:3000/session/new' + "&host_name=" + System::Host.site_name
