h1 Demo site about Jazz
p demonstrates how one a site can interact with a distributed user and content management system

= link_to 'Sign-up', sign_up_index_path


/ hr
/ h3 Demo servers
/ = link_to 'Jazz site', 'https://mx-jazz-site.herokuapp.com/'
/ br
/ = link_to 'Authorization server 001', 'https://authorization-provider-001.herokuapp.com/'
/ br
/ = link_to 'Address server 001', 'https://mx-address-server-001.herokuapp.com/'
/ br
/ = link_to 'Authentication server 001', 'https://mx-authentication-server-001.herokuapp.com/'


