h1 Site settings
p For development start me on port 3000:
p rails s -p 3000
p = link_to 'Site settings', edit_system_setting_path(SecureRandom.uuid)
p = link_to 'Address servers', system_address_servers_path